<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

<div class="header__container _container">
  <div class="header__top-menu menu-top">
    <div class="menu-top__column">
      <button id="burger-btn" type="button" class="burger-btn" data-target="#burger-menu">
        <span class="burger-btn__lines"></span>
        <span class="burger-btn__label"></span>
      </button>
      <a href="#" class="menu-top__link menu-top__link_tablet">
        <i class="menu-top__icon icon-search icon-search_tablet"></i>
      </a>
      <i class="menu-top__icon icon-header_phone"></i>
      <div class="menu-top__number">
        +49 61729452910
      </div>
      <div class="menu-top__language language">
        <a href="#" class="language__link">EN</a>
        <ul class="language__list sub-menu sub-menu_lang">
          <li class="language__item">
            <a href="#" class="language__link">FR</a>
          </li>
          <li class="language__item">
            <a href="#" class="language__link">DE</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-top__column">
      <a href="/" class="menu-top__logo">
        {% comment %}<img src="img/logo/logo.png" alt="logo">{% endcomment %}
        {{ section.settings.logo | img_url: "179x46" | img_tag }}
      </a>
    </div>
    <div class="menu-top__column">
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <i class="menu-top__icon icon-search"></i>
<!--                 <use href="#icon-search"> -->
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal-1"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
<!--                       <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg> -->
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
<!--                 <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg> -->
              </button>
            </div>
          </div>
        </details>
      </details-modal>
<!--       <a href="#" class="menu-top__link">
        <i class="menu-top__icon icon-search"></i>
      </a> -->
      <a href="#" class="menu-top__link">
        <i class="menu-top__icon icon-account"></i>
      </a>
      <a href="#" class="menu-top__link menu-top__numeric menu-top__numeric-1">
        <i class="menu-top__icon icon-liked"></i>
      </a>

      <a href="{{ routes.cart_url }}" class="menu-top__link menu-top__numeric menu-top__numeric-2" id="cart-icon-bubble">
        <i class="menu-top__icon icon-basket"></i>
      </a>
      
<!--       <a href="#" class="menu-top__link menu-top__numeric menu-top__numeric-2">
        <i class="menu-top__icon icon-basket"></i>
      </a> -->

    </div>
  </div>

  <nav class="header__bottom-menu menu-bottom">
    <ul class="menu-bottom__list">
      <li class="menu-bottom__item menu-bottom__item-parrent">
        <a href="" class="menu-bottom__link">Products <button class="icon-arrow"></button> </a>
        <ul class="menu-bottom__sub-menu sub-menu">
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Quiet Books</a>
          </li>
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Mini Quiet Books</a>
          </li>
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Booklets</a>
          </li>
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Wooden Toys</a>
          </li>
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Wall decorations</a>
          </li>
        </ul>
      </li>
      <li class="menu-bottom__item">
        <a href="" class="menu-bottom__link">Child Development</a>
      </li>
      <li class="menu-bottom__item">
        <a href="" class="menu-bottom__link">What are Quiet Books</a>
      </li>
      <li class="menu-bottom__item">
        <a href="" class="menu-bottom__link">Blog</a>
      </li>
      <li class="menu-bottom__item menu-bottom__item-parrent">
        <a href="" class="menu-bottom__link">About Us <button class="icon-arrow"></button> </a>
        <ul class="menu-bottom__sub-menu sub-menu">
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">The Team</a>
          </li>
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Our Clients</a>
          </li>
        </ul>
      </li>
      <li class="menu-bottom__item menu-bottom__item-parrent">
        <a href="" class="menu-bottom__link">Support <button class="icon-arrow"></button> </a>
        <ul class="menu-bottom__sub-menu sub-menu">
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Out Contacts</a>
          </li>
        </ul>
      </li>
      <li class="menu-bottom__item">
        <a href="" class="menu-bottom__link">Where to Find Us</a>
      </li>
    </ul>
  </nav>
</div>

{% schema %}
{
"name": "t:sections.header.name",
"class": "section-header",
"settings": [
{
"type": "select",
"id": "color_scheme",
"options": [
{
"value": "accent-1",
"label": "t:sections.all.colors.accent_1.label"
},
{
"value": "accent-2",
"label": "t:sections.all.colors.accent_2.label"
},
{
"value": "background-1",
"label": "t:sections.all.colors.background_1.label"
},
{
"value": "background-2",
"label": "t:sections.all.colors.background_2.label"
},
{
"value": "inverse",
"label": "t:sections.all.colors.inverse.label"
}
],
"default": "background-1",
"label": "t:sections.all.colors.label"
},
{
"type": "image_picker",
"id": "logo",
"label": "t:sections.header.settings.logo.label"
},
{
"type": "link_list",
"id": "menu",
"default": "main-menu",
"label": "t:sections.header.settings.menu.label"
},
{
"type": "select",
"id": "menu_type_desktop",
"options": [
{
"value": "dropdown",
"label": "t:sections.header.settings.menu_type_desktop.options__1.label"
},
{
"value": "mega",
"label": "t:sections.header.settings.menu_type_desktop.options__2.label"
}
],
"default": "dropdown",
"label": "t:sections.header.settings.menu_type_desktop.label",
"info": "t:sections.header.settings.menu_type_desktop.info"
},
{
"type": "checkbox",
"id": "show_line_separator",
"default": true,
"label": "t:sections.header.settings.show_line_separator.label"
},
{
"type": "checkbox",
"id": "enable_sticky_header",
"default": true,
"label": "t:sections.header.settings.enable_sticky_header.label",
"info": "t:sections.header.settings.enable_sticky_header.info"
},
{
"type": "header",
"content": "t:sections.header.settings.mobile_layout.content"
},
{
"type": "select",
"id": "mobile_logo_position",
"options": [
{
"value": "center",
"label": "t:sections.header.settings.mobile_logo_position.options__1.label"
},
{
"value": "left",
"label": "t:sections.header.settings.mobile_logo_position.options__2.label"
}
],
"default": "center",
"label": "t:sections.header.settings.mobile_logo_position.label"
},
{
"type": "header",
"content": "t:sections.all.spacing"
},
{
"type": "range",
"id": "margin_bottom",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "t:sections.header.settings.margin_bottom.label",
"default": 0
},
{
"type": "header",
"content": "t:sections.all.padding.section_padding_heading"
},
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 36,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_top",
"default": 20
},
{
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 36,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_bottom",
"default": 20
}
]
}
{% endschema %}