<div class="page__main-slider main-slider">
  {% for block in section.blocks %}
    <div class="main-slider__item">
      <div class="main-slider__content">
        <h1 class="main-slider__title">
          <i class="icon-title"></i>{{ block.settings.title }}
        </h1>
        <div class="main-slider__buttons">
          <div class="main-slider__buttons">
            <div class="main-slider__button main-slider__button_pink" style="background-color: {{ block.settings.button-1-color }}">
              <a href="{{ block.settings.button-1-link }}" class="main-slider__link" style="color: {{ block.settings.button-1-text-color }}">Shop now</a>
            </div>
            <div class="main-slider__button main-slider__button_yellow" style="background-color: {{ block.settings.button-2-color }}">
              <a href="{{ block.settings.button-2-link }}" class="main-slider__link" style="color: {{ block.settings.button-2-text-color }}">About us</a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-slider__image ibg">
        {{ block.settings.image | img_url: "" | img_tag }}
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
"name": "Main-slider",
"tag": "section",
"class": "section",
"settings": [
],
"blocks":[
{
"type": "main-slider-slide",
"name": "Main-slider slide",
"settings": [
{
"type": "header",
"content": "Background image"
},
{
"type": "image_picker",
"id": "image",
"label": "Set background image"
},
{
"type": "header",
"content": "Title"
},
{
"type": "text",
"id": "title",
"label": "Set title"
},
{
"type": "header",
"content": "Button-1 color"
},
{
"type": "color",
"id": "button-1-color",
"label": "Set button-1 color",
"default": "#FF8F8F"
},
{
"type": "header",
"content": "Button-1 link"
},
{
"type": "text",
"id": "button-1-link",
"label": "Set button-1 link",
"default": "#"
},
{
"type": "header",
"content": "Button-1 text color"
},
{
"type": "color",
"id": "button-1-text-color",
"label": "Set button-1 text color",
"default": "#FFFFFF"
},
{
"type": "header",
"content": "Button-2 color"
},
{
"type": "color",
"id": "button-2-color",
"label": "Set button-2 color",
"default": "#FFE4BB"
},
{
"type": "header",
"content": "Button-2 link"
},
{
"type": "text",
"id": "button-2-link",
"label": "Set button-2 link",
"default": "#"
},
{
"type": "header",
"content": "Button-2 text color"
},
{
"type": "color",
"id": "button-2-text-color",
"label": "Set button-2 text color",
"default": "#E86E6E"
}
]
}
],
"presets": [
  {
      "name": "Main slider",
      "blocks": [
        {
          "type": "main-slider-slide"
        },
        {
          "type": "main-slider-slide"
        },
        {
          "type": "main-slider-slide"
        },
        {
          "type": "main-slider-slide"
        },
        {
          "type": "main-slider-slide"
        }
      ]
  }
],
"templates": [
  "index"
]
}
{% endschema %}
